<form (ngSubmit)="onSubmit()" #formCtrl="ngForm" id="addMessage">
    <textarea ngControl="message" required pattern=".{6,500}" autosize [(ngModel)]="message" name="message" required placeholder="Ecrivez votre bonne ressource à partager"
        maxlength="500" class="demo-full-width" #characterCountHintExample></textarea>
    <p align="end">{{message.length}} / 500</p>

    <button [disabled]="!formCtrl.form.valid" type="submit" id="send" md-raised-button color="primary"><i class="material-icons">create</i> Ecrire un message</button>
</form>