md-input-element {
    height: 100px;
}

md-input,
md-textarea {
    width: 100%;
    padding: 5px;
    height: 100px;
}

md-textarea textarea {
    padding: 5px;
    height: 70px;
}

[md-raised-button].md-primary,
[md-fab].md-primary,
[md-mini-fab].md-primary {
    float: right;
}

.md-input-element {
    height: 65px;
}