<md-card>
    <md-card-content>
        <p *ngIf="isLoaded">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </p>
        <div class="md-padding">
            <a style="flex: 1 1 auto;display: block;" md-button>
                <i class="material-icons">refresh</i> Voir plus de messages</a>
            <md-nav-list role="list" id="messagesList" dense style="height: 500px;overflow: auto;">

                <a (swipeRight)="swipeRight(message, $event)" md-list-item class="md-3-line" *ngFor="let message of messages | async">
                    <img md-list-avatar src="{{ message.avatar }}" alt="{{message.name}}">
                    <h3 md-line> {{message.name}}
                        <i style="font-size: 15px" class="material-icons">star_border</i>
                        <span>{{ message.created * 1000 | date: "hh:ss" }}</span>
                        <!--<a (click)="removeMessage(message)"><i style="float:right;color: red" class="material-icons">delete</i></a>-->
                    </h3>
                    <p md-line>
                        <span class="message" [innerHTML]="message.lastMessage | message"></span>
                    </p>
                    <!--<ul *ngFor="let dialog of message.dialog">
            <li>
                <p>{{ dialog.who }} ></p>
                <p>{{ dialog.message }}</p>
            </li>
        </ul>-->
                    <md-divider></md-divider>
                </a>

            </md-nav-list>
        </div>


        <app-action></app-action>
    </md-card-content>
</md-card>