<div layout="column" layout-fill layout-align="top center">
    <md-tab-group>
        <md-tab>
            <template md-tab-label>
                <i class="material-icons">chat</i>
            </template>
            <app-tchat></app-tchat>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                <i class="material-icons">notifications</i>
            </template>
            <app-notifications></app-notifications>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                <i class="material-icons">map</i>
            </template>
            <app-map></app-map>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                <i class="material-icons">format_quote</i>
            </template>
            <app-favorite></app-favorite>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                <i class="material-icons">settings</i>
            </template>
            <app-setting></app-setting>
        </md-tab>
    </md-tab-group>
</div>