<div layout="column">
    <md-tab-group>
        <md-tab class="full-size">
            <template md-tab-label>
                <a routerLink="/"><i class="material-icons">chat</i></a>
            </template>
            <app-tchat></app-tchat>
        </md-tab>
        <md-tab class="full-size">
            <template md-tab-label>
                <i class="material-icons">notifications</i>
            </template>
            <app-notifications></app-notifications>
        </md-tab>
        <md-tab class="full-size">
            <a routerLink="/account">
                <template md-tab-label>
                    <i class="material-icons">account_circle</i>
                </template>
            </a>
            <app-setting></app-setting>
        </md-tab>


    </md-tab-group>
</div>