.message {
    font-size: 11px;
    color: grey;
}

md-sidenav.md-sidenav-side {
    width: 250px;
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.md-padding{
       padding: 15px;
}