<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">
                    <span *ngIf="visible">Authentification</span>
                    <span *ngIf="!visible">Inscription</span>
                </h2>
            </div>

            <div class="modal-body">
                <md-input placeholder="Email" style="width: 100%"></md-input>
                <md-input placeholder="Password" style="width: 100%"></md-input>

                <a style="display:block">
                    <img style="width: 200px" src="http://www.freeiconspng.com/uploads/facebook-login-button-png-11.png" />
                </a>
                <a style="display:block">
                    <img style="width: 200px" src="http://commondatastorage.googleapis.com/io-2013/presentations/808/images/sign-in-button.png" />
                </a>

            </div>

            <div class="modal-footer">
                <button class="md-primary" (click)="toggle(true)" md-no-ink md-raised-button type="button" data-dismiss="modal">Connexion</button>
                <button md-button type="button" (click)="toggle(false)">Inscription</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->