<md-list>
    <md-list-item *ngFor="let message of messages | async">
        <img md-list-avatar src="{{ message.avatar }}" alt="{{message.name}}">
        <h3 md-line> {{message.name}} </h3>
        <p md-line>
            <span> {{message.sujet }} </span><br />
            <span class="message"> {{message.lastMessage}} </span>
        </p>
        <!--<ul *ngFor="let dialog of message.dialog">
            <li>
                <p>{{ dialog.who }} ></p>
                <p>{{ dialog.message }}</p>
            </li>
        </ul>-->
    </md-list-item>
</md-list>