<div layout="column">
  <md-tab-group>
    <md-tab class="full-size">
      <template md-tab-label>
        <a routerLink="/"><i class="material-icons">chat</i></a>
      </template>
      <h3>Account</h3>
    </md-tab>
    <md-tab class="full-size">
      <template md-tab-label>
        <i class="material-icons">notifications</i>
      </template>
      <app-notifications></app-notifications>
    </md-tab>
    <md-tab class="full-size">
      <template md-tab-label>
        <a routerLink="/account"><i class="material-icons">account_circle</i></a>
      </template>
      <app-setting></app-setting>
    </md-tab>


  </md-tab-group>
</div>